.register_container {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.register_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.wallet_icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.wallet_title {
}

.input_container {
  position: relative;
  margin-bottom: 40px;
}

.input {
  width: calc(100% - 60px);
  padding: 10px 0px 10px 60px;
  color: #000;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus,
.input:hover {
  border-color: #007bff;
}

.input_icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.input:focus::placeholder {
  color: transparent;
}

.input::placeholder {
  color: #bdbdbd;
}

.register_button {
  width: 100%;
  padding: 13px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 400;
  background-color: #24cca7;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register_button:hover,
.register_button:focus {
  background-color: #45a049;
}

.login_button {
  width: 100%;
  padding: 13px;
  background-color: #fff;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 400;
  border: 1px solid;
  border-radius: 20px;
  color: #4a56e2;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login_button_description {
  font-size: 12px;
  line-height: 1.44;
  font-weight: 200;
}

.password_strength {
  margin-top: 5px;
  font-size: 12px;
  color: #007bff;
}
