@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.login_container {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.frame_icon,
.title,
.elipse1,
.elipse2 {
  display: none;
}

.login_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 114px;
  margin-bottom: 20px;
}

.wallet_icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.wallet_title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 4px;
}

.input_container {
  position: relative;
  margin-bottom: 30px;
  margin-left: 20px;
  font-family: "circe", sans-serif;
  font-size: 18px;
  width: 280px;
  border-radius: 20px;
  padding: 13px 0;
}

.input {
  width: calc(100% - 60px);
  padding: 10px 0px 10px 60px;
  color: #000;
  border: none;
  font-size: 18px;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus,
.input:hover {
  border-color: #007bff;
}

.input_icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.input:focus::placeholder {
  color: transparent;
}

.input::placeholder {
  color: #bdbdbd;
}

.login_button {
  width: 100%;
  padding: 13px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 400;
  background-color: #24cca7;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login_button:hover,
.login_button:focus {
  background-color: #45a049;
}

.register_button {
  width: 100%;
  padding: 13px;
  background-color: var(--background-gray);
  font-size: 18px;
  line-height: 1.44;
  font-weight: 400;
  border: 1px solid;
  border-radius: 20px;
  color: #4a56e2;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register_container {
  margin-bottom: 62px;
}

/* //////////////////////////////// */

@media screen and (min-width: 768px) {
  .login_container {
    display: flex;
    flex-direction: column;
    width: 533px;
    height: 468px;
    max-width: none;
    background-color: white;
    z-index: 0;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 196px;
    padding: 0;
  }

  .input {
    margin-left: 0;
  }
  .wrapper {
    background-color: #e7eaf2;
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box {
    width: 533px;
    padding-top: 60px;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .title {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 400;
  }
  .frame_icon {
    display: block;
    width: 260px;
    height: 250px;
  }
  .wallet_icon {
    width: 38px;
    height: 29px;
    margin-right: 11px;
  }
  .elipse1 {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .elipse2 {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .login_title {
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }

  .input_container {
    width: 410px;
  }

  .register_container {
    font-family: "circe", sans-serif;
    width: 300px;
  }
  .login_button {
    width: 300px;
  }

  .wallet_title {
    font-size: 30px;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {

  .wrapper {
    flex-direction: row;
    height: 720px;
  }

  .login_container {
margin-top: 136px;
margin-right: 91px;
margin-bottom: 116px;

  }

  .text {
    font-size: 20px;
  }
  .frame_icon {
    width: 435px;
    height: 419px;
    position: absolute;
    z-index: 2;
  }

  .title {
   position: absolute;
    bottom: 30px;
   left: 10px;
    text-align: center;
  }

  .elipse1 {
    z-index: 0;
    right: 100px;
    top: 0px;
  }

  .elipse2 {
    z-index: 0;
    left: -60px;
  }
}

