.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Loader {
  display: inline-block;
  position: relative;
}

.Loader svg {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
